h1 {
  text-align: center;
  color: #E84BEB;
  font-size: 250%;
  font-family: "Courier New";
}
h2 {
  text-align: center;
  color: #E84BEB;
  font-size: 150%;
  font-family: "Courier New";

}
h3 {
  text-align: center;
  color: #F55333;
  font-size: 125%;
  font-family: "Courier New";

}
.center {
  margin: auto;
  width: 50%;
  margin-bottom: 20px;
}
.centerimage{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;
}

img {
  padding: 100px;
  margin-bottom: 30px;
}
#dream{
  font-family: "Courier New";
  text-align:center;
  color: #7c0272;
  border-style: groove;
  border-width: thick;
  border-color: #9DEB6E;
  padding: 30px;
}
p.Dream{
  width: 50%;
  margin-bottom: 50px;
}

#grad {
  background-image: linear-gradient(red, pink, white);
  padding-bottom: 50px;
  padding-top: 50px;
  padding-right: 50px;
  padding-left: 50px;
}
